@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.main{
    display: flex;
    height: 100vh;
    gap:0.3rem;
}
/* header-section */
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    gap: 1rem;
    position: fixed;
    width: 89rem;
    top: 0.313rem;
    z-index: 2;
}
.left{
    margin-left: 1rem;
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.middle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8rem;
}
.serach{
    display: flex;
    align-items: center;
    justify-content: center;
}
#mid-img{
    width: 35rem;
    height: 2rem;
    border-radius: 15rem 0rem 0rem 15rem;
    border:0.063rem solid #c6c6c6;
}
#mid-btn{
    background-color: #f0f0f0;
    border:0.063rem solid #c6c6c6;
    border-radius: 0% 50% 50% 0%;;
    height: 2.2rem;
    width: 2.5rem;
}
#mid-btn1{
    background-color: #f0f0f0;
    border:0.063rem solid #c6c6c6;
    border-radius: 50% 50% 50% 50%;;
    height: 2.5rem;
    width: 2.5rem;
}
.right{
    padding-right:5rem ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}
.circle{
    border: 0.1rem solid blue;
    padding: 0.19rem;
    padding: 0.29rem;
    border-radius: 20px;
    
    margin-right: 2rem;
}
.users{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
}
/* header-section-end*/
/* sidebar */
.sidebar {
    height: 100vh;
    width: 17rem;
    background-color: rgb(255, 255, 255);
    margin-left: -2rem;
    overflow: auto;
}
.container{
    padding-right: 2rem;
    padding-left:2rem ;
}
.white-bar{
    background-color: rgb(255, 255, 255);
    width: 12rem;
    height: 4rem;
    position: fixed;
    top: 0rem;
    z-index:1;
}
.item-1 {
    background-color: #ffffff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.75rem;
}
.item-0 {
    background-color: #ffffff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    margin-top: 3rem;
}
.item-2 {
    background-color: #ffffff;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem 0.75rem;
}
.users-1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.circle-1{
    border: 0.1rem solid blue;
    padding: 0.19rem;
    padding: 0.29rem;
    border-radius: 20px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    
}
.imgs {
    line-height: 2rem;
    opacity: 0.7;
    
}
.img-1 {
    display: flex;
    align-items: center;
    gap: 1.7rem; /* spacing between image and text */
    padding: 0.2rem;
}
.img-2 {
    display: flex;
    align-items: center;
    gap: 1.7rem; /* spacing between image and text */
    padding: 0.2rem;
}
.img-1:hover{
    background-color: #f0f0f0;
    border-radius: 0.625rem 0.625rem 0.625rem 0.625rem;
}
.svg1{
    width: 1.7rem;
    height: auto;
}
.png1{
    height: auto;
    width: 1.7rem;
}
.Explore{
    height: auto;
    width: 1rem;
}
.line{
    border: 0.0021rem solid #f0f0f0;
}
.title{
    font-size: larger;
    font-weight: bold;
}
.text-policy{
    line-height: 1rem;
}
/* sidebar-end*/
/* main */
.main-content{
    flex: 1;
    padding: 0 1.5rem 0 1.5rem;
    padding-top: 3.4rem;
}
/* main-end*/
